<a href="https://colab.research.google.com/github/saracsayed/saracsayed/blob/main/SDWIS_Tool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# In order to run the script you'll need to import the following python packages
import pandas as pd
import os

**Step 1. Create working directory to provide python access to data files**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Set path to working directory where data files are stored
# This may change based on who's using the script
path = r'/content/drive/MyDrive/Colab/Violations'
all_files = [os.path.join(path, file) for file in os.listdir(path) if os.path.isfile(os.path.join(path, file))]
print(all_files)

['/content/drive/MyDrive/Colab/Violations/Violations_1000001_1100101.csv', '/content/drive/MyDrive/Colab/Violations/SDWI_violations_table.csv']

**Step 2. Read in SDWIS Violation CSV into Python**

In [ ]:
# Read in CSV file that contains SDWIS violations
sdwis_violations = pd.read_csv('/content/drive/MyDrive/Colab/Violations/SDWI_violations_table.csv')
sdwis_violations.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0  ... VIOLATION.RULE_FAMILY_CODE
0           0  ...                        350
1           1  ...                        310
2           2  ...                        350
3           3  ...                        330
4           4  ...                        330

[5 rows x 35 columns]

**Step 3. Importing new SDWIS violations**

In [ ]:
# Use this api link to grab new violation data from EPA api:
# https://data.epa.gov/efservice/VIOLATION/COMPL_PER_BEGIN_DATE/%3E/31-DEC-12/ROWS/0:100000/EXCEL
# This link will generate a CSV table(s) that will be imported into this script
# Note: The only changes will occur in this segment: /0:100000/

Currently the last API record is at 1,100,101 so future updates will start with this number. 
Note: Only 100k records can be downloaded at once from the API

In [ ]:
# Read in the csv of new downloaded data
violation_update = pd.read_csv('/content/drive/MyDrive/Colab/Violations/SDWI_violations_table.csv')

In [ ]:
# Join new data with SDWIS master table
li = []
#print(len(all_files))
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
frame = pd.concat(li, axis=0, ignore_index=True)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**Step 4. Export newly updated CSV**

In [ ]:
#Export CSV file to folder
frame.to_csv('SDWI_violations_table.csv')